@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
	 transition: all 2s ease;
}

body {
    background: url('images/background.jpg');
    background-size: 100%;
    background-attachment: fixed;
    display: inline-block;
    height: 100%;

}

.welcome {
    width: 100%;
    background: url('images/background_welcome.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    height: 20%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.5vw #fff;
}

.about {
    padding-left: 2%;
    width: 50%;
}

.name {
    font-size: 2.5vw;
}

.developers {
    font-size: 0.8vw;
    margin-top: 2%;
}

.welcome__menu {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.welcome__menu div {
    margin-right: 1vw;
    font-size: 1.4vw;
    font-weight: bold;
    color: #000;
}

.welcome__menu a {
    color: #000;
}