
body {overflow-y:visible; overflow-x: hidden;}
.sights_container {
	width: 100%;
	margin-top: 1%;

	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sights {
	border: 0.3vw solid #fff;
	margin-bottom: 3%;
	width: 95%;
	height: 100%;

	display: flex;
	flex-direction: row;
	
}
.sights_text {
	margin-top: 3%;
	width: 50%;
	padding-left: 2%;
}

.sights_image {
	height: 25vw;
	width: 50%;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	
	box-shadow: 0.5vw 0 0.5vw 0px #fff;
}

.sights_label {
	font-size: 1.5vw;
	margin-bottom: 2%;
}

.sights_description {
	font-size: 1.3vw;
	line-height: 1.7vw;
}


.sights_description li {
	margin-top: 2%;
	font-size: 1.15vw;
	list-style: inside;
}


.arrow_up {
	background: url('images/arrow.png');
	background-size: 100%;
	width: 2.5vw;
	height: 2.5vw;
	margin-top: -2%;
	margin-bottom: 1%;
	
}