


.sights_image_1 {
	background-image: url('images/list/21.jpg');
}


.sights_image_2 {
	background-image: url('images/list/22.jpg');
}

.sights_image_3 {
	background-image: url('images/list/23.jpg');
}
.sights_image_4 {
	background-image: url('images/list/24.jpg');
}
.sights_image_5 {
	background-image: url('images/list/26.jpg');
}