


.sights_image_1 {
	background-image: url('images/list/1.jpg');
}


.sights_image_2 {
	background-image: url('images/list/2.jpg');
}

.sights_image_3 {
	background-image: url('images/list/3.jpg');
}
.sights_image_4{
	background-image: url('images/list/4.jpg');
}
.sights_image_5{
	background-image: url('images/list/5.jpg');
}