body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    margin-top: 35px;
    margin-right: 50px;
    margin-left: 50px;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 35px;
}

.logo:hover {
    cursor: pointer;
}

.box {
    transition: all .5s ease-in-out;
}

a {
    color: black;
    text-decoration: none;
}

.box:hover {
    color: white;
    background-color: #29A5F2;
    cursor: pointer;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-7 {
    user-select: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #ECECEC;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    border-radius: 50px;
    text-decoration: none;
}

.box-6 {
    background-color: #ECECEC;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-image: url(iconsvolume.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 55%;
}

.lenguage-selector {
    margin-left: 10px;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url(icons8-expand-arrow-50white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 55%;
    transition: .5s;
}

.lenguage-selector:hover {
    filter: invert();
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    margin-top: 50px
}

.container {
    user-select: none;
}

.container-1 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 35px;
    width: 380px;
    height: 380px;
    background-image: url(pexels-daniel-eliashevsky-30667400-11960509.jpg);
    background-repeat: no-repeat;
    background-position: 50% 65%;
    background-size: 100%;
    transition: .75s;
}

.container-1 h1 {
    color: white;
    text-align: left;
    font-family: Playfair Display;
    font-style: italic;
    font-size: 27px;
    margin-left: 20px;
}

.container-1 p {
    color: white;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    margin-bottom: 50px;
}

.forward {
    align-self: self-end;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #29A5F2;
    background-image: url(icons8-arrow-50.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50%;
    transition: .5s;
}

.forward:hover {
    filter: invert();
}

.container:hover {
    width: 450px;
    height: 450px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 35px;
    width: 380px;
    height: 380px;
    background-image: linear-gradient(to left, #91CDF2, #29A5F2, #4D56FC);
    background-size: 200%;
    transition: .75s;
}

.container-2:hover {
    background-position: right;
}

.container-2 h1 {
    text-align: center;
    font-family: Playfair Display;
    font-style: italic;
    font-size: 27px;
    margin-bottom: -5px;
}

.container-2 .text-1 {
    text-align: center;
    padding: 0 55px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 5px;
}

.button {
    display: flex;
    align-items: center;
    border-radius: 25px;
    width: auto;
    height: 45px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    background-color: white;
    margin-bottom: 15px;
    padding: 0 15px;
    transition: .5s;
}

.button img {
    margin-left: 15px;
    margin-right: -39.5px;
}

.button:hover {
    cursor: pointer;
    filter: invert();
}

.container-3 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 35px;
    width: 380px;
    height: 380px;
    background-image: url(pexels-daniel-eliashevsky-30667400-11960531.jpg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 100%;
    transition: .75s;
}

.container-3 h1 {
    color: white;
    text-align: left;
    font-family: Playfair Display;
    font-style: italic;
    font-size: 27px;
    margin-left: 20px;
}

.container-3 p {
    color: white;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
    margin-bottom: 50px;
}

.container-3 img {
    transform: scaleX(-1);
}

.gradient-box {
    border-radius: 15px;;
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    width: 1350px;
    height: 60px;
    background-image: linear-gradient(90deg, #25FFB3, #4D56FC, #29A5F2, #25FFB3);
    background-repeat: no-repeat;
    background-size: 300%; 
    overflow: hidden;
    animation: gradient 2s infinite linear alternate;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    gap: 35px;
    bottom: 20px;
}

.dot {
    background-color: black;
    width: 7px;
    height: 7px; 
    border-radius: 50%;
    transition: .75s;
}

.dot:hover {
    cursor: pointer;
    background-color: #4D56FC;
}

@font-face {
    font-family: "Playfair Display";
    src: url(PlayfairDisplay/PlayfairDisplay-ExtraBoldItalic.ttf);
}
