body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    margin-top: 35px;
    margin-right: 50px;
    margin-left: 50px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 35px;
    z-index: 10;
}

.logo:hover {
    cursor: pointer;
}

.logo {
    margin-bottom: 50px;
}

.box {
    transition: all .5s ease-in-out;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.box:hover {
    color: white;
    background-color: #29A5F2;
    cursor: pointer;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-7 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #ECECEC;
    font-family: Lato Semibold;
    font-size: 13px;
    border-radius: 50px;
}

.box-6 {
    background-color: #ECECEC;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-image: url(iconsvolume.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 55%;
}

.lenguage-selector {
    margin-left: 10px;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url(icons8-expand-arrow-50white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 55%;
    transition: .5s;
}

.lenguage-selector:hover {
    filter: invert();
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    margin-top: 200px;
    position: absolute;
    z-index: 1;
}

.case {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;
}

.container {
    width: 265px;
    height: 265px;
    border-radius: 50%;
}

.container-1:hover,
.container-4:hover,
.container-5:hover,
.container-8:hover,
.container-9:hover {
    width: 318px;
    height: 318px;
}

.container-1 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(bograch.jpg);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-size: 150%;
    transition: .75s;
}

.container-2 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.container-3 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.container-4 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(Perkelt-1.2_Sn.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 150%;
    transition: .75s;
}

.container-5 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(dxprhn---c740x493x50px50p-up--5e3ee102c91f8b19eaf351314b7ec20e.jpg);
    background-repeat: no-repeat;
    background-position: 92% 50%;
    background-size: 150%;
    transition: .75s;
}

.container-6 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.container-7 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.container-8 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(ripa.jpg);
    background-repeat: no-repeat;
    background-position: 50% 70%;
    background-size: 110%;
    transition: .75s;
}

.container-9 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url(cecce469199f00f13b8b65a0339ef6ec.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 140%;
    transition: .75s;
}

.container-10 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

h1 {
    font-style: italic;
    font-family: Playfair Display;
    text-align: center;
    font-size: 21px;
}

.container p {
    padding: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: -25px;
}

.dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    gap: 35px;
    z-index: 10;
    bottom: 20px;
}

.dot {
    background-color: black;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transition: .75s;
}

.dot:hover {
    cursor: pointer;
    background-color: #4D56FC;
}

@font-face {
    font-family: 'Playfair Display';
    src: url(PlayfairDisplay-ExtraBoldItalic.ttf)
}
