body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    margin-top: 35px;
    margin-right: 50px;
    margin-left: 50px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 35px;
    z-index: 10;
    overflow: hidden;
}

.logo:hover {
    cursor: pointer;
}

.logo {
    margin-bottom: 50px;
}

.box {
    transition: all .5s ease-in-out;
    margin-bottom: 50px;
}

.box:hover {
    color: white;
    background-color: #29A5F2;
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-7 {
    user-select: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #ECECEC;
    font-family: Lato Semibold;
    font-size: 13px;
    border-radius: 50px;
}

.box-6 {
    background-color: #ECECEC;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-image: url(iconsvolume.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 55%;
}

.lenguage-selector {
    margin-left: 10px;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url(icons8-expand-arrow-50white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 55%;
    transition: .5s;
}

.lenguage-selector:hover {
    filter: invert();
}

.main {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 25px;
    position: relative;
    top: 135px;
    z-index: 1;
    overflow: hidden;
}

iframe {
    border-radius: 25px;
    margin-right: 800px;
}

.video {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: auto;
    height: auto;
    margin-top: -546px;
}

video {
    border-radius: 25px;
}

.dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    gap: 35px;
    z-index: 10;
    bottom: 20px;
}

.dot {
    background-color: black;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transition: .75s;
}

.dot:hover {
    cursor: pointer;
    background-color: #4D56FC;
}


@font-face {
    font-family: 'Playfair Display';
    src: url(PlayfairDisplay-BlackItalic.ttf);
}
