body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation {
    margin-top: 35px;
    margin-right: 50px;
    margin-left: 50px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 35px;
    z-index: 10;
}

.logo:hover {
    cursor: pointer;
}

.logo {
    margin-bottom: 50px;
}

.box {
    transition: all .5s ease-in-out;
    margin-bottom: 50px;
}

.box:hover {
    color: white;
    background-color: #29A5F2;
    cursor: pointer;
}

.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-7 {
    user-select: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    background-color: #ECECEC;
    font-family: Lato Semibold;
    font-size: 13px;
    border-radius: 50px;
}

.box-6 {
    background-color: #ECECEC;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-image: url(icons8-bookmark-30.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 55%;
}

.lenguage-selector {
    margin-left: 10px;
    background-color: black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: url(icons8-expand-arrow-50white.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 55%;
    transition: .5s;
}

.lenguage-selector:hover {
    filter: invert();
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    margin-top: 125px;
    position: absolute;
    z-index: 1;
}

.case {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 50px;
}

.container {
    width: 265px;
    height: 265px;
    border-radius: 35px;
}

.container-1 {
    background-video: url(12078525-hd_1280_720_30fps.mp4);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 200%;
}
.container-2 {
    background-image: url(12078525-hd_1280_720_30fps.mp4);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 200%;
}
.container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 35px;
    width: 380px;
    height: 380px;
}

h1 {
    font-style: italic;
    font-family: Playfair Display ExtraBold;
    text-align: center;
    font-size: 21px;
}

.container p {
    padding: 15px;
    font-family: Lato Semibold;
    text-align: center;
    margin-top: -25px;
}

.dots {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    gap: 35px;
    z-index: 10;
    bottom: 20px;
}

.dot {
    background-color: black;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transition: .75s;
}

.dot:hover {
    cursor: pointer;
    background-color: #4D56FC;
}


@font-face {
    font-family: 'Playfair Display';
    src: url(PlayfairDisplay-BlackItalic.ttf);
}
