@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: Poppins;
}
html {
  height: 100%;
  width: 100%;
}
.text {
  position: absolute;
  top: 100%; 
  left: 0; 
  display: none; 
  z-index: 2;
}

.text.active {
  display: block; 
}
.sprite-imge {
  height: 150px;
  width: 150px;
  background: url(sprite.png) 0px 0px;
  animation:play 0/8s steps(9) infinite,
    step 10s liniar infinite;
  left: 0;
  
}
@keyframes play{
  background-position: -150px;
}
@keyframes step{
  background-position: -150px;
}
