body{
  background-color:#E8E8E8 ;
}
.wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container{
	background-color: #486B85;
	height: auto;
	width: 100%;
	padding: 10px;
}
.card{
	background-color: #93B4BC;
	width: 100px;
	height: auto;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}
.box_img{
	background-image: url("L10B_2026/group6/images/box_image.jpg");
	height: auto;
	padding: 10px;
}
table, th, td {
	border: 2px solid;
  border-collapse: collapse;
}
th, td {
  padding: 10px ;
}
th {
  background-color: #486B85;
}
table {
  width: 70%;
  margin: auto ;
}
h1 {
	font-family: Pacifico, sans-serif;
	float:center;
	text-align: center;
	color:#486B85;
}
h2 {
	text-align: right;
}
