body{
  background-color:#E8E8E8 ;
}
.wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container{
	background-color: #486B85;
	height: auto;
	width: 100%;
	padding: 10px;
	margin-bottom:30px;
	/* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}
.card{
	background-color: #93B4BC;
	height: auto;
	width: 285px;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}
.card:hover{
	 transition: 1s;
     transform: scale(1.05);
     transform-origin: center;
	.cardd{
	background-color: #93B4BC;
	height: auto;
	width: 385px;
	border-radius: 10px;
	margin: 10px;
	padding: 16px;
}
	.cardd:hover{
	 transition: 1s;
     transform: scale(1.05);
     transform-origin: center;
.block_img{
	background-image: url(images/box_image.jpg);
    height: 50px;
    width: 100%;
    margin-top: -30px;
}
table, th, td {
	border: 2px solid;
  	border-collapse: collapse;
}
th, td {
  	padding: 10px ;
}
th {
  	background-color: #486B85;
}
table {
  	width: 70%;
  	margin: auto;
}
h1 {
	font-family: Pacifico, sans-serif;
	text-align: center;
	color:#486B85;
	padding-top: 30 px;
	width: 100%;
	
}
h2 {
	color:#486B85;
	padding-top: 30 px;
	width: 100%;
	font-family: Pacifico, sans-serif;
}
.circular_img{
	border-radius: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100px;
}
img{
	width: 500px;
 height: 280px
}
