body{
  background-color:#E8E8E8 ;
}
.wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container{
	background-color: #486B85;
	height: auto;
	width: 100%;
	padding: 10px;
	margin-bottom: 30px;
	/* display: grid;
    grid-template-columns: repeat(3, 1fr); */
}
.card{
	background-color: #93B4BC;
	height: auto;
	width: 500px;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	transition: 1s;
	box-shadow: 2px 3px 5px #1C252B;
}
.card:hover{ 
    transform: scale(1.05);
}
	
.block_img{
	background-image: url(images/box_image.jpg);
    height: 50px;
    width: 100%;
    margin-top: -30px;
}
table, th, td {
	border: 2px solid;
  	border-collapse: collapse;
}
th, td {
  	padding: 10px ;
}
th {
  	background-color: #486B85;
}
table {
  	width: 70%;
  	margin: auto;
}
@media (max-width: 320px){
	table{
		scale: 0.85;
		transform-origin: left top;
	}
}
h1 {
	font-family: Pacifico, sans-serif;
	text-align: center;
	color:#486B85;
	padding-top: 30 px;
	width: 100%;
	
}
h2 {
	color:#486B85;
	padding-top: 30 px;
	width: 100%;
	font-family: Pacifico, sans-serif;
	font-size: larger;
}
a{
	text-decoration: none;
	color: #ffffff;
	margin: 5px;
	font-size: larger;
}
a:active{
	color: #93B4BC;
}
.circular_img{
	border-radius: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
img{
	width: 500px;
 	height: 280px
}
p{
	font-weight: 600;
	font-size: larger;
	font-family: Prata, serif;
	color: #93B4BC;
}

.game_block {              
    width: 1000px;        
    margin: 40px auto;        
    padding: 20px;
}
.game_block h2 {
	font-size: 32px;
	margin-bottom: 25px;
	text-align: center;
}
