body{ 
    max-width:1200px;
    margin:auto;

}
h1 {
    margin: 0 auto 10px;
    font-family: Beautiful;
    color: steelblue;
    background: lightgreen;
    text-shadow: 2px 2px 5px darkblue;
    text-align: left;
    position: relative;
    left: 0;
    top: 0;
    height:40px;
    width:230px;
    grid-column:1/2;grid-row:1/2; 
}
     
h3{
    font-family: Beautiful2;
    width:150px;
          color:white;
          background:lightgray;
          text-align:center;
          padding:1px 10px;
          margin:auto;
          border-radius: 10px;
}
.text{
    width:300px;
          height:370px;
          border: 2px grey solid;
          border-radius: 10px;
          float:left;
          box-shadow:2px 2px 5px DeepSkyblue;
          padding:30px;
          font-size:20px;
          grid-column:1/2; grid-row:2/3;
         
}
.card{
          width:200px;
          height:250px;
          border: 2px grey solid;
          border-radius: 10px;
          float:left;
          margin:50px;
          box-shadow:2px 2px 5px DeepSkyblue;
          padding:10px;
          font-size:16px;
          
}
.cards{
    float:center;
    margin:auto;
    width:90%;
    flex-wrap: nowrap | wrap | wrap-reverse
          justify-content: flex-start | flex-end | center | space-between | space-around
}
.p1{
    float:center;
    grid-column:2/3; grid-row:2/3;
}
.r1{
    float:right;
    top: -30px;
    grid-column:3/4; grid-row:2/3;
}
.wrap{
    display:grid;
    repeat(3, 1fr)

    justify-content:space-evenly;
}
.sayt{
    margin:auto;
    width:90%;
    
    
}
@font-face {
font-family: Beautiful;
src: url(Beautiful Valentine.otf)
}

@font-face {
font-family: Beautiful2;
src: url("https://codehs.com/uploads/90617795cd106861eb3eca7429e0c98f")
}
