:root {
  --main-color: rgba(0, 0, 0, 0.5);
  --stressing-color: #C1FFB1;
  --bg-color: rgba(90, 90, 90, .5);
}

.navig::-webkit-scrollbar {
  width: 15px;
}

.navig::-webkit-scrollbar-track {
  background: ;
}

.navig::-webkit-scrollbar-thumb {
  background-color: #3CB371;
  border-radius: 20px;
  border: 1px solid darkgrey;
}

@font-face {
  font-family: Balsamiq_Sans;
  src: url(fonts/Mainshrift/BalsamiqSans-Regular.ttf);
}

@font-face {
  font-family: Yeseva_One;
  src: url(fonts/shriftforzag/Yeseva_One/YesevaOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Balsamiq_Sans, serif;
}

body {
  overflow-x: hidden;
}

.gradient {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(225deg, rgba(221, 119, 255, 1) 6%, rgba(73, 157, 132, 1) 71%, rgba(0, 212, 255, 1) 100%) no-repeat fixed;
  animation: gradient 10s infinite linear;
  background-size: 400%;
}

.hdrsticky {
  height: 30vh;
  /* background-color: red; */
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: var(--main-color);
  border-bottom-right-radius: 30px;
  margin: 0;
  z-index: 5;
}

.hdr-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

}

.hdr-cont div {
  background-color: #332F2F;
  border-radius: 30px;
  z-index: 10;
  margin: 2px;
}

.hdr-cont div:first-child {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  top: 20px;
  overflow: hidden;
  color: white;
}

.hdr-cont div:nth-child(2) {
  background-color: #332F2F;
  border-radius: 30px;
  z-index: 10;
  margin: 2px;
}

h1 {
  font-size: 25px;
  padding: 10px 20px;
}

.hdr-cont div:nth-child(3) {
  width: 60%;
  height: 30px;
  background-color: var(--stressing-color);
  border-radius: 30px;
}

.hdr-down {
  width: 45%;
  height: 80px;
  background-color: var(--main-color);
  border-bottom-right-radius: 30px;
  position: relative;
  top: -5px
}

.hdr-down div {
  position: absolute;
  right: 5%;
  bottom: 20px;
}

main {
  width: 80%;
  margin: 20px auto;
  background-color: var(--bg-color);
  border-radius: 15px;
  padding: 10px;
}

.gloc {
  background-color: var(--bg-color);
}

.gloc div {
  background-color: var(--main-color);
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.foott {
  width: 50%;
  height: 5vh;
  background-color: var(--main-color);
  border-top-left-radius: 20px;
  margin-top: 100px;
}

.footb {
  width: 100%;
  height: 7vh;
  background-color: var(--main-color);
  border-top-left-radius: 40px;
  z-index: -1;
  padding-top: 20px;
}

.foott div {
  margin: 15px auto;
}

.butt {
  color: var(--stressing-color);
  border: solid 2px var(--stressing-color);
  border-radius: 5px;
  width: 10vw;
  height: 40px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: 1s;
  margin-top: 40px;
}

.butt:hover {
  color: var(--main-color);
  background-color: var(--stressing-color);

}

h2,
h3,
h4,
h5,
h6 {
  color: var(--stressing-color);
}

a {
  text-decoration: none;
}

/*Роговий class/id*/
.navigwrap {
  display: flex;
  justify-content: right;
  position: relative;
}

.navig {
  background-color: var(--bg-color);
  width: 65%;
  border-radius: 15px;
  padding: 5px;
  overflow-x: scroll;
  display: flex;

}

.navig div {
  background-color: var(--main-color);
  width: 100px;
  height: 100px;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  margin-right: 10px;
  transition: 1s;
}

.navig div:hover {
  transform: scale(1.1, 1.1);
}

.navig div div {

  height: 50px;
  margin: 0 auto;
}

.navig div div:hover {
  transform: scale(1.1, 1.1);
}

.navig div div img {
  filter: blur(2px);
}

.navig div:hover div img {
  filter: blur(0);
  transform: scale(1.1, 1.1);
}

.Grid-cont {
  display: grid;
  grid-template-columns: 200px repeat(3, 1fr);
  gap: 10px;
}

.Grid-cont div {
  background-color: var(--bg-color);
  border-radius: 15px;
  padding: 5px;
}

.imgcont {
  overflow: hidden;
  align-self: center;
}

.imgcont img {
  display: block;
}

/*Довгаль class/id*/
.nav {
  margin-top: 200px;
  background-color: var(--bg-color);
  width: 70%;
  margin-left: 10px;
  color: white;
  font-family: Balsamiq_Sans, serif;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: white;
}

.links {
  margin-top: 10px;
  background-color: var(--bg-color);
  width: 70%;
  margin-left: 10px;
  color: black;
}

.mai {
  background-color: var(--bg-color);
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-family: Balsamiq_Sans, serif;
  border-radius: 5px;
  margin-top: 30px;
  min-height: 350px;
  font-size: 18px;
}

.zag {
  font-family: Yeseva_One, serif;
}

.mainimg {
  margin-top: -20px;
  float: right;
  margin-right: 30px;
  height: 31vh;
  object-fit: cover;
}

.viz {
  background-color: var(--bg-color);
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  color: #C1FFB1;
  font-family: Balsamiq_Sans, serif;
  border-radius: 5px;
  
}
.turr{
  color: #C1FFB1;
  font-size: 20px;
  text-decoration: inherit;
}

li {
  margin-left: 17px;
  margin-right: 10px;
  color: white;
  font-family: Balsamiq_Sans, serif;
}

.hdr-down1 {
  width: 40vw;
  height: 100px;
  background-color: var(--main-color);
  border-bottom-right-radius: 30px;
  position: relative;
  top: -5px;
  display: flex;
  justify-content: space-around;
}

.footb a {
  color: var(--stressing-color);
  border: solid 2px var(--stressing-color);
  border-radius: 5px;
  width: 20vw;
  height: 45px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: 1s;
  font-size: 20px;
  margin: 10%;
}

.footb a:hover {
  color: var(--main-color);
  background-color: var(--stressing-color);
}

.navigwrap2 {
  display: flex;
  justify-content: left;
  direction: rtl;
  position: relative;
}

.navigwrap2 h3,
.navigwrap h3 {
  position: absolute;
  top: -30px;
}

.ind {
  margin-top: 100px;
}

.rarrow {
  color: var(--stressing-color);
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 50px;
  
  
}

.rarrow::after {
  content: "→";
}

.larrow {
  color: var(--stressing-color);
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}

.larrow::after {
  content: "←";
}

.turrr{
  color: #C1FFB1;
  
  text-decoration: inherit;
  text-align: center;
  
}

/*Лихачов class/id*/


/*maindi{
  width:80vw;
  margin: 20px auto;
  background-color: var(--bg-color);
  border-radius: 5%;
  padding: 10px;
}*/
.txt {
  background-color: var(--main-color);
  width: auto;
  height: auto;
  border-radius: 15px;
}

.heading {
  background-color: var(--main-color);
  width: auto;
  height: auto;
  border-radius: 15px;
}

.up {
  color: var(--stressing-color);
  border: solid 2px var(--stressing-color);
  border-radius: 5px;
  width: 140px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: 2s;
}

.up:hover {
  color: var(--main-color);
  background-color: var(--stressing-color);
}

.navd {
  margin-top: 280px;
  background-color: var(--bg-color);
  width: 95vw;
}

.navd div {
  background-color: var(--main-color);
  width: 100px;
  height: 100px;
  border-radius: 15px;
  overflow: hidden;
}

.titlehdr {
  background-color: var(--bg-color);
  width: 140px;
  height: 75px;
  border-radius: 10px;
  overflow: hidden;
}

.pad {
  padding: 5%;
}

/*Юровський class/id*/
.blockdan {
  background-color: var(--bg-color);
  margin: 15px auto;
  width: 50%;
  border-radius: 20px;
  text-align: center;
  padding: 15px;

}

.imagedan {
  border-radius: 0px 0px 0px 0px;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.contden {
  background-color: var(--bg-color);
  margin: 30px auto;
  width: 85%;
  border-radius: 20px;
  overflow: hidden;
  padding: 15px;
}

.navigyur {
  margin-top: 200px;
  background-color: var(--bg-color);
  width: 65vw;
  ;
  border-radius: 15px;
  padding: 5px;
  margin-right: 10px;
}

.navigwrap1 {
  margin-top: -70px;
  display: flex;
  justify-content: center;
}

.navigyur {
  background-color: var(--bg-color);
  width: 55vw;
  border-radius: 15px;
  padding: 5px;


}

.navigyur div {
  background-color: var(--main-color);
  width: 120px;
  height: 80px;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  margin-left: 17px;
  font-size: 20px;
  padding: 2%;
  justify-content: center;
  align-items: center;
}

.navigyur div:hover {
  border: solid 2px var(--stressing-color);
}

.navigyur div div {

  height: 50px;
  margin: 0 auto;
}

.navigyur div div:hover {
  border: none;
}

#yurdan {
  display: block;
  position: relative;
  bottom: 100%;
}

#danyur {
  display: block;
  position: relative;
  bottom: 20px;
}

#yurdan1 {
  display: block;
  position: relative;
  bottom: 100%;
}

#danyur1 {
  display: block;
  position: relative;
  bottom: 10px;
}

@keyframes gradient {
  0% {
    background-position: 80% 0%;
  }

  50% {
    background-position: 20% 100%;
  }

  100% {
    background-position: 80% 0%;
  }
}

#dan {
  padding-top: 35px;
}

iframe {
  margin: 10px auto;
  display: block;
  width: 720px;
  height: 340px;
  max-width: 100%;
}

main {
  max-width: 1000px;
}
