 html,
 body {
    height: 100vh;
    width: 100vw;
 }

 h1 {
    font-family: Lugatype, serif, Arial, Calibri;
    font-style: italic;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    margin: 0;
 }

 .text {
    font-family: Lugatype, serif, Arial, Calibri;
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 41px;
    margin-left: 90px;
    margin-right: 90px;

 }

 .map {
    position: absolute;
    width: 458px;
    height: 429px;
    left: 100px;
    top: 450px;
    transition: transform 0.5s ease;

 }

 .avtor {
    position: absolute;
    width: 400px;
    height: 230px;
    left: 1385px;
    top: 1045px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .adaptive {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 300px;
    margin: 0 auto;
 }

 .textavtor {
    font-size: 18px;
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    width: 351.37px;
    height: 47.91px;
    left: 1475px;
    top: 1300px;
 }

 .first {
    position: absolute;
    border-radius: 63px;
    top: 200px;
    right: 90px;
    width: 290px;
    height: 220px;
    transition: transform 0.5s ease;
 }

 .second {
    position: absolute;
    border-radius: 63px;
    left: 90px;
    top: 500px;
    width: 290px;
    height: 220px;
    transition: transform 0.5s ease;
 }

 .third {
    position: absolute;
    width: 290px;
    height: 220px;
    border-radius: 63px;
    right: 90px;
    top: 800px;
    transition: transform 0.5s ease;
 }

 .fourth {
    position: absolute;
    border-radius: 63px;
    left: 90px;
    top: 1080px;
    width: 290px;
    height: 220px;
    transition: transform 0.5s ease;
 }

 .fiveth {
    position: absolute;
    width: 290px;
    height: 220px;
    border-radius: 63px;
    right: 90px;
    top: 1380px;
    transition: transform 0.5s ease;
 }

 .sixth {
    position: absolute;
    border-radius: 63px;
    left: 90px;
    top: 1660px;
    width: 290px;
    height: 220px;
    transition: transform 0.5s ease;
 }

 .firsttext {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    left: 90px;
    right: 480px;
    top: 240px;
    font-size: 25px;
 }

 .secondtext {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    left: 430px;
    right: 70px;
    top: 525px;
    font-size: 25px;
 }

 .thirdtext {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    font-size: 25px;
    right: 430px;
    left: 90px;
    top: 835px;
 }

 .fourthtext {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    left: 430px;
    right: 70px;
    top: 1125px;
    font-size: 25px;
 }

 .fivethtext {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    font-size: 25px;
    right: 450px;
    left: 90px;
    top: 1415px;
 }

 .sixthtext {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    left: 430px;
    right: 70px;
    top: 1710px;
    font-size: 25px;
 }

 .first1 {
    position: absolute;
    border-radius: 63px;
    top: 200px;
    right: 90px;
    width: 290px;
    height: 220px;
    transition: transform 0.5s ease;
 }

 .second1 {
    position: absolute;
    border-radius: 63px;
    left: 90px;
    top: 500px;
    width: 290px;
    height: 220px;
    transition: transform 0.5s ease;
 }

 .third1 {
    position: absolute;
    width: 290px;
    height: 220px;
    border-radius: 63px;
    right: 20px;
    top: 220px;
    transition: transform 0.5s ease;
 }

 .fourth1 {
    position: absolute;
    border-radius: 63px;
    left: 90px;
    top: 1080px;
    width: 290px;
    height: 220px;
    transition: transform 0.5s ease;
 }

 .fiveth1 {
    position: absolute;
    width: 290px;
    height: 220px;
    border-radius: 63px;
    right: 90px;
    top: 1380px;
    transition: transform 0.5s ease;
 }

 .sixth1 {
    position: absolute;
    border-radius: 63px;
    left: 90px;
    top: 1700px;
    width: 290px;
    height: 220px;
    transition: transform 0.5s ease;
 }

 .firsttext1 {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    left: 90px;
    right: 480px;
    top: 240px;
    font-size: 25px;
 }

 .secondtext1 {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    left: 430px;
    right: 70px;
    top: 555px;
    font-size: 25px;
 }

 .thirdtext1 {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    font-size: 25px;
    right: 430px;
    left: 90px;
    top: 850px;
 }

 .fourthtext1 {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    left: 430px;
    right: 70px;
    top: 1125px;
    font-size: 25px;
 }

 .fivethtext1 {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    font-size: 25px;
    right: 450px;
    left: 90px;
    top: 1415px;
 }

 .sixthtext1 {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    left: 430px;
    right: 70px;
    top: 1710px;
    font-size: 25px;
 }

 .gradient {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(225deg, rgba(54, 54, 54, 1) 0%, rgba(209, 157, 3, 1) 25%, rgba(161, 150, 110, 1) 49%, rgba(133, 179, 227, 1) 77%, rgba(15, 89, 107, 1) 100%) no-repeat fixed;
    animation: gradient 10s infinite linear;
    background-size: 400%;
 }

 @keyframes gradient {
    0% {
       background-position: 80% 0%;
    }

    50% {
       background-position: 20% 100%;
    }

    100% {
       background-position: 80% 0%;
    }
 }

 @font-face {
    font-family: Lugatype;
    src: url(fonts/Tkachev\ -\ Lugatype.otf);
 }

 .jump {
    position: absolute;
    font-size: 20px;
    top: 20px;
    right: 40px;
    margin-left: 1550px;
    font-family: Lugatype, serif, Arial, Calibri;
    display: inline-block;
    background: #DAA520;
    color: #000000;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 63px;
    transition: 0.2s;
 }
 .jumpb {
    position: absolute;
    font-size: 20px;
    top: 2350px;
    right: 40px;
    margin-left: 1550px;
    font-family: Lugatype, serif, Arial, Calibri;
    display: inline-block;
    background: #DAA520;
    color: #000000;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 63px;
    transition: 0.2s;
 }
 .back1 {
    position: absolute;
    font-size: 20px;
    top: 20px;
    left: -80px;
    margin-left: 1550px;
    font-family: Lugatype, serif, Arial, Calibri;
    display: inline-block;
    background: #DAA520;
    color: #000000;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 63px;
    transition: 0.2s;
 }

 .jump1 {
    position: absolute;
    top: 20px;
    margin-left: 1695px;
    font-size: 20px;
    font-family: Lugatype, serif, Arial, Calibri;
    display: inline-block;
    background: #DAA520;
    color: #000000;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 63px;
    transition: 0.2s;
 }
 .back1b {
    position: absolute;
    font-size: 20px;
    top: 1830px;
    left: -80px;
    margin-left: 1550px;
    font-family: Lugatype, serif, Arial, Calibri;
    display: inline-block;
    background: #DAA520;
    color: #000000;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 63px;
    transition: 0.2s;
 }

 .jump1b {
    position: absolute;
    top: 1830px;
    margin-left: 1695px;
    font-size: 20px;
    font-family: Lugatype, serif, Arial, Calibri;
    display: inline-block;
    background: #DAA520;
    color: #000000;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 63px;
    transition: 0.2s;
 }
 .back2 {
    position: absolute;
    top: 20px;
    right: 245px;
    font-size: 20px;
    font-family: Lugatype, serif, Arial, Calibri;
    display: inline-block;
    background: #DAA520;
    color: #000000;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 63px;
    transition: 0.2s;
 }

 .begin {
    position: absolute;
    font-size: 20px;
    top: 20px;
    left: 170px;
    margin-left: 1550px;
    font-family: Lugatype, serif, Arial, Calibri;
    display: inline-block;
    background: #DAA520;
    color: #000000;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 63px;
    cursor: pointer;
    transition: 0.2s;
 }
.back2b {
    position: absolute;
    top: 1900px;
    right: 245px;
    font-size: 20px;
    font-family: Lugatype, serif, Arial, Calibri;
    display: inline-block;
    background: #DAA520;
    color: #000000;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 63px;
    transition: 0.2s;
 }

 .beginb {
    position: absolute;
    font-size: 20px;
    top: 1900px;
    left: 170px;
    margin-left: 1550px;
    font-family: Lugatype, serif, Arial, Calibri;
    display: inline-block;
    background: #DAA520;
    color: #000000;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 63px;
    cursor: pointer;
    transition: 0.2s;
 }
 .begin:hover {
    background-color: lightblue;
    color: white;
 }

 .jump:hover {
    background-color: lightblue;
    color: white;
 }

 .jump1:hover {
    background-color: lightblue;
    color: white;
 }

 .back1:hover {
    background-color: lightblue;
    color: white;
 }

 .back2:hover {
    background-color: lightblue;
    color: white;
 }
.begin:hover {
    background-color: lightblue;
    color: white;
 }

 .jumpb:hover {
    background-color: lightblue;
    color: white;
 }

 .jump1b:hover {
    background-color: lightblue;
    color: white;
 }

 .back1b:hover {
    background-color: lightblue;
    color: white;
 }

 .back2b:hover {
    background-color: lightblue;
    color: white;
 }
 .map:hover {
    transform: scale(1.25);
 }

 .avtor:hover {
    transform: scale(1.25);
 }

 .first:hover {
    transform: scale(1.25);
 }

 .second:hover {
    transform: scale(1.25);
 }

 .third:hover {
    transform: scale(1.25);
 }

 .fourth:hover {
    transform: scale(1.25);
 }

 .fiveth:hover {
    transform: scale(1.25);
 }

 .sixth:hover {
    transform: scale(1.25);
 }

 .first1:hover {
    transform: scale(1.25);
 }

 .second1:hover {
    transform: scale(1.25);
 }

 .third1:hover {
    transform: scale(1.25);
 }
.fourth1:hover {
    transform: scale(1.25);
 }

 .fiveth1:hover {
    transform: scale(1.25);
 }

 .sixth1:hover {
    transform: scale(1.25);
 }
 .video {
    position: absolute;
    top: 1330px;
    left: 1300px;
    border-radius: 63px;
 }

 .grisha {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    top: 1020px;
    left: 90px;
    right: 650px;
    font-size: 20pt;
 }

 .grisha2 {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    top: 1140px;
    left: 90px;
    right: 650px;
    font-size: 20pt;
 }

 .grisha3 {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    top: 1280px;
    left: 90px;
    right: 650px;
    font-size: 20pt;
 }

 .grisha4 {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    top: 1420px;
    left: 90px;
    right: 650px;
    font-size: 20pt;
 }

 .grisha5 {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    top: 1560px;
    left: 90px;
    right: 650px;
    font-size: 20pt;
 }

 .city {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    font-style: italic;
    font-weight: 400;
    font-size: 20pt;
    line-height: 24px;
    left: 800px;
    top: 420px;
 }

 ol {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    font-size: 15pt;
    left: 810px;
    top: 455px;
    right: 90px;
 }

 li {
    padding: 5px;
    font-size: 22px;
 }

 .q {
    position: absolute;
    top: 1810px;
    left: 500px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .q:hover {
    transform: scale(1.25);
 }

 .w {
    position: absolute;
    top: 1810px;
    left: 785px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .w:hover {
    transform: scale(1.25);
 }

 .e {
    position: absolute;
    top: 1810px;
    left: 1070px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .e:hover {
    transform: scale(1.25);
 }

 .r {
    position: absolute;
    top: 1810px;
    left: 1355px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .r:hover {
    transform: scale(1.25);
 }

 .t {
    position: absolute;
    top: 1810px;
    left: 1640px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .t:hover {
    transform: scale(1.25);
 }

 .y {
    position: absolute;
    top: 1985px;
    left: 500px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .y:hover {
    transform: scale(1.25);
 }

 .u {
    position: absolute;
    top: 1985px;
    left: 785px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .u:hover {
    transform: scale(1.25);
 }

 .i {
    position: absolute;
    top: 1985px;
    left: 1070px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .i:hover {
    transform: scale(1.25);
 }

 .o {
    position: absolute;
    top: 1985px;
    left: 1355px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .o:hover {
    transform: scale(1.25);
 }

 .p {
    position: absolute;
    top: 1985px;
    left: 1640px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .p:hover {
    transform: scale(1.25);
 }

 .a {
    position: absolute;
    top: 2160px;
    left: 500px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .a:hover {
    transform: scale(1.25);
 }

 .s {
    position: absolute;
    top: 2160px;
    left: 785px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .s:hover {
    transform: scale(1.25);
 }

 .d {
    position: absolute;
    top: 2160px;
    left: 1070px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .d:hover {
    transform: scale(1.25);
 }

 .f {
    position: absolute;
    top: 2160px;
    left: 1355px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .f:hover {
    transform: scale(1.25);
 }

 .g {
    position: absolute;
    top: 2160px;
    left: 1640px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .g:hover {
    transform: scale(1.25);
 }

 .h {
    position: absolute;
    top: 2335px;
    left: 880px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .h:hover {
    transform: scale(1.25);
 }

 .j {
    position: absolute;
    top: 2335px;
    left: 1135px;
    width: 225px;
    height: 150px;
    border-radius: 63px;
    transition: transform 0.5s ease;
 }

 .j:hover {
    transform: scale(1.25);
 }

 .travel {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    left: 90px;
    top: 1800px;
 }

 dt {
    font-family: Lugatype, serif, Arial, Calibri;
    position: absolute;
    left: 90px;
    top: 1850px;
    font-size: 22px;
    margin-top: 5px; 
 }
