html, body{
  height: 100%;
  width: 100%;
}
h1{
  font-family: Lugatype, serif, Arial, Calibri;
  font-style: italic;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  margin:0;
}
.text{
  font-family: Lugatype, serif, Arial, Calibri;
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 41px;
  margin-left:90px;
  margin-right:90px;

}
dt{
  font-family: Lugatype, serif, Arial, Calibri;
  position: absolute;
  left: 90px;
  top: 1900px;
  font-size: 20px;
  margin-top:5px;
}
.map{
  position: absolute;
  width: 458px;
  height: 429px;
  left: 100px;
  top: 450px;
  transition: transform 0.5s ease;

}
.avtor{
  position: absolute;
  width: 234px;
  height: 349px;
  left: 1480px;
  top: 1005px;
  border-radius:63px;
  transition: transform 0.5s ease;
}
.adaptive{
  width:1920px;
  height:1080px;
  max-width:1920px;
  display:grid;
  grid-template-columns:1fr 300px;
  margin: 0 auto;
}
.textavtor{
  font-size: 18px;
  font-family: Lugatype, serif, Arial, Calibri;
  position: absolute;
  width: 351.37px;
  height: 47.91px;
  left: 1480px;
  top: 940px;
}
.first{
  position: absolute;
  border-radius: 63px;
  top:140px;
  right:90px;
  width: 290px;
  height: 220px;
  transition: transform 0.5s ease;
}
.second{
  position: absolute;
  border-radius: 63px;
  left: 90px;
  top:390px;
  width: 290px;
  height: 220px;
  transition: transform 0.5s ease;
}
.third{
  position: absolute;
  width: 290px;
  height: 220px;
  border-radius: 63px;
  right:90px;
  top: 660px;
  transition: transform 0.5s ease;
}
.firsttext{
  font-family: Lugatype, serif, Arial, Calibri;
  position: absolute;
  left: 90px;
  right: 480px;
  top:180px;
  font-size: 25px;
}
.secondtext{
  font-family: Lugatype, serif, Arial, Calibri;
  position: absolute;
  left:430px;
  right:70px;
  top: 465px;
  font-size: 25px;
}
.thirdtext{
  font-family: Lugatype, serif, Arial, Calibri;
  position: absolute;
  font-size: 25px;
  right:400px;
  left:90px;
  top:735px;
}
.first1{
  position: absolute;
  border-radius: 63px;
  top:140px;
  right:90px;
  width: 290px;
  height: 220px;
  transition: transform 0.5s ease;
}
.second1{
  position: absolute;
  border-radius: 63px;
  left: 90px;
  top:390px;
  width: 290px;
  height: 220px;
  transition: transform 0.5s ease;
}
.third1{
  position: absolute;
  width: 290px;
  height: 220px;
  border-radius: 63px;
  right:19px;
  top: 175px;
  transition: transform 0.5s ease;
}
.firsttext1{
  font-family: Lugatype, serif, Arial, Calibri;
  position: absolute;
  left: 90px;
  right: 450px;
  top:180px;
  font-size: 25px;
}
.secondtext1{
  font-family: Lugatype, serif, Arial, Calibri;
  position: absolute;
  left:430px;
  right:70px;
  top: 465px;
  font-size: 25px;
}
.thirdtext1{
  font-family: Lugatype, serif, Arial, Calibri;
  position: absolute;
  font-size: 25px;
  right:450px;
  left:90px;
  top:720px;
}
.gradient {
  height: 300px;
  width: 100%;
  background: linear-gradient(225deg, rgba(54,54,54,1) 0%, rgba(209,157,3,1) 25%, rgba(161,150,110,1) 49%, rgba(133,179,227,1) 77%, rgba(15,89,107,1) 100%);
  animation: gradient 10s infinite linear;
  background-size: 400%; 
}

@keyframes gradient {
  0% {
      background-position: 80% 0%;
  }
  50% {
      background-position: 20% 100%;
  }
  100% {
      background-position: 80% 0%;
  }
}
@font-face {
  font-family: Lugatype; 
  src: url(fonts/Tkachev\ -\ Lugatype.otf);
}
.jump{
  position: absolute;
  font-size: 20px;
  top:20px;
  right:40px;
  margin-left:1550px;
  font-family: Lugatype, serif, Arial, Calibri;
  display: inline-block;
  background: #DAA520;
  color: #000000;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 63px;
}
.back1{
  position: absolute;
  font-size: 20px;
  top:20px;
  left:-80px;
  margin-left:1550px;
  font-family: Lugatype, serif, Arial, Calibri;
  display: inline-block;
  background: #DAA520;
  color: #000000;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 63px;
}
.jump1{
  position: absolute;
  top:20px;
  margin-left:1695px;
  font-size: 20px;
  font-family: Lugatype, serif, Arial, Calibri;
  display: inline-block;
  background: #DAA520;
  color: #000000;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 63px;
}
.back2{
  position: absolute;
  top:20px;
  right:225px;
  font-size: 20px;
  font-family: Lugatype, serif, Arial, Calibri;
  display: inline-block;
  background: #DAA520;
  color: #000000;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 63px;
}
.begin{
  position: absolute;
  font-size: 20px;
  top:20px;
  left:170px;
  margin-left:1550px;
  font-family: Lugatype, serif, Arial, Calibri;
  display: inline-block;
  background: #DAA520;
  color: #000000;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 63px;
  cursor: pointer;
}
.begin:hover{
  background-color: lightblue;
  color:white;
}
.jump:hover{
  background-color: lightblue;
  color:white;
}
.jump1:hover{
  background-color: lightblue;
  color:white;
}
.back1:hover{
  background-color: lightblue;
  color:white;
}
.back2:hover{
  background-color: lightblue;
  color:white;
}
.map:hover {
  transform: scale(1.25);
}
.avtor:hover {
  transform: scale(1.25);
}
.first:hover {
  transform: scale(1.25);
}
.second:hover {
  transform: scale(1.25);
}
.third:hover {
  transform: scale(1.25);
}
.first1:hover {
  transform: scale(1.25);
}
.second1:hover {
  transform: scale(1.25);
}
.third1:hover {
  transform: scale(1.25);
}
.video{
  position: absolute;
  top: 1400px;
  left: 1300px;
  border-radius: 63px;
}
.grisha{
  font-family: Lugatype, serif, Arial, Calibri;
  position: absolute;
  top: 1000px;
  left: 90px;
  right:590px;
  font-size:20pt;
}
.grisha2{
  font-family: Lugatype, serif, Arial, Calibri;
  position: absolute;
  top: 1100px;
  left: 90px;
  right:590px;
  font-size:20pt;
}
.grisha3{
  font-family: Lugatype, serif, Arial, Calibri;
  position: absolute;
  top: 1210px;
  left: 90px;
  right:590px;
  font-size:20pt;
}
.grisha4{
  font-family: Lugatype, serif, Arial, Calibri;
  position: absolute;
  top: 1340px;
  left: 90px;
  right:590px;
  font-size:20pt;
}
.grisha5{
  font-family: Lugatype, serif, Arial, Calibri;
  position: absolute;
  top: 1470px;
  left: 90px;
  right:590px;
  font-size:20pt;
}
.city{
  font-family: Lugatype, serif, Arial, Calibri;
  position: absolute;
  font-style: italic;
  font-weight: 400;
  font-size: 20pt;
  line-height: 24px;
  left: 800px;
  top: 440px;
}
ol{
  font-family: Lugatype, serif, Arial, Calibri;
  position: absolute;
  font-size:15pt;
  left:810px;
  top:480px;
  right:90px;
}
li{
  padding:5px;
}
.q{
  position:absolute;
  top:1850px;
  left:500px;
  width:225px;
  height:150px;
  border-radius:63px;
  transition: transform 0.5s ease;
}
.q:hover{
  transform: scale(1.25);
}
.w{
  position:absolute;
  top:1850px;
  left:755px;
  width:225px;
  height:150px;
  border-radius:63px;
  transition: transform 0.5s ease;
}
.w:hover{
  transform: scale(1.25);
}
.e{
  position:absolute;
  top:1850px;
  left:1010px;
  width:225px;
  height:150px;
  border-radius:63px;
  transition: transform 0.5s ease;
}
.e:hover{
  transform: scale(1.25);
}
.r{
  position:absolute;
  top:1850px;
  left:1265px;
  width:225px;
  height:150px;
  border-radius:63px;
  transition: transform 0.5s ease;
}
.r:hover{
  transform: scale(1.25);
}
.t{
  position:absolute;
  top:1850px;
  left:1520px;
  width:225px;
  height:150px;
  border-radius:63px;
  transition: transform 0.5s ease;
}
.t:hover{
  transform: scale(1.25);
}
.y{
  position:absolute;
  top:2025px;
  left:500px;
  width:225px;
  height:150px;
  border-radius:63px;
  transition: transform 0.5s ease;
}
.y:hover{
  transform: scale(1.25);
}
.u{
  position:absolute;
  top:2025px;
  left:755px;
  width:225px;
  height:150px;
  border-radius:63px;
  transition: transform 0.5s ease;
}
.u:hover{
  transform: scale(1.25);
}
.travel{
  font-family: Lugatype, serif, Arial, Calibri;
  position: absolute;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  left: 90px;
  top: 1850px;
}
