html {
  height: 100%;
  width: 100%;
  background-color:#F6E1CD;
}
table, th {
  width: 100%;
  border:1px solid #B27D4D;
  border-collapse:collapse;
  background-color:#F6EAE0;
  z-index:1010;
}
a:link{
  color: #B27D4D;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
a:visited{
  color: #B27D4D;
  font-style:normal;
  text-decoration:none;
}
th{
  text-align:center;
  width:18%;
  height:100px;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 10px;
}
.img1_left{
  padding:15px;
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
}
.t1_right{
  padding:10px;
  grid-column: 2/4;
  grid-row: 1/2;
}
.img2_right{
  padding:50px;
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
}
.t2_left{
  padding:10px;
  grid-column: 1/3;
  grid-row: 2/3;
}
.img3_left{
  padding:35px;
  grid-column: 1/2;
  grid-row: 3/4;
  text-align: center;
}
.t3_right{
  padding:10px;
  grid-column: 2/4;
  grid-row: 3/4;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #B27D4D;
  color: #F6EAE0;
  cursor: pointer;
  padding: 15px;
  border-radius: 180px;
}

#myBtn:hover {
  background-color: #555;
