body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial;
}
img {
width: 1836.38px;
}
.water{
  height: 200.01px;
  width: 1836.38px;
}
.first{
  position: absolute;
  top: 0px;
  left: 200px;
}
.second{
  position: absolute;
  top: 0px;
  left: 400px;
}
.thirth{
  position: absolute;
  top: 0px;
  left: 600px;
}
.firth{
  position: absolute;
  top: 0px;
  left: 900px;
}

