{% load static %}



<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
  <title>AI Професії</title>
</head>
<body>
  <header>
    <h1>Штучний інтелект</h1>
  </header>
  <main>
    <section class="info">
      <h2>Що таке штучний інтелект?</h2>
      <p>Штучний інтелект — це галузь комп'ютерних наук, що займається створенням систем, які можуть виконувати завдання, що потребують людського інтелекту.</p>
    </section>

    <section class="cards">
      <div class="card">
        <h3>NLP Engineer</h3>
        <p>опис</p>
      </div>
      <div class="card">
        <h3>Computer Vision Engineer</h3>
        <p>опис</p>
      </div>
      <div class="card">
        <h3>Deep Learn Engineer</h3>
        <p>опис</p>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-content">
      <div>
        <h4>Автори сайту</h4>
        <p>П. Бакун К. Гречка Б.Підгорний</p>
      </div>
      <div>
        <h4>Контакти</h4>
        <p>Email: peter.d.bakun@gmail.com</p>
        <p>Телефон: +380 68 228 1338</p>
      </div>
      <div>
        <h4>Зміна теми</h4>
        <button class="theme-toggle" onclick="toggleTheme()">Світлий/Темний</button>
      </div>
    </div>
  </footer>

  <script>
    function toggleTheme() {
      document.body.classList.toggle('dark');
    }
  </script>
</body>
</html>