/* === RESET === */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* === BODY === */
body {
  background-color: #f4f4f4;
  color: #000;
  max-width: 100%;
  overflow-x: hidden;
}
/* === FONT === */
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.video-block {
  text-align: center;
  margin: 40px auto;
}
.tektur {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
@font-face {
  font-family: 'Comic_Sans_MS';
  src: url('Comic_Sans_MS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* === HEADER === */
.headerhome{
  width: 100%;
  height: 75vh;
  background: linear-gradient(180deg, #ee46a5 0%, #f28d6c 44.23%, #f5bb47 73.08%);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(6, 1fr);
  position: static;
}

.headerhome > .ulnav {
  grid-column: 1 / span 1;
  grid-row: 1 / span 6;
  width: 100%;
  height: 100vh;
  list-style: none;
  margin: 0 10px;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.anav  {
  justify-content: center;
}
.nav-link .anav {
  display: block;
  padding: 8px 16px;
  text-align: left; 
  color: #ffffff;
  text-decoration: none;
  background-color: #261374;
  font-family: "Press Start 2P", system-ui;
  margin:20px 80px 0 0 ;
  width: 100%;
  box-sizing: border-box; 
}

.nav-link .anav:hover {
  color: #F5BB47;
}
.pnav {
  grid-column: 2 / span 3;
  grid-row: 2 / span 5;
  width: 100%;
  justify-self: stretch;
  align-self: center;
  text-align: right;
  margin: 0;
  padding-right: 30px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 600;
  font-size: 100px;
  line-height: 125%;
  letter-spacing: -0.05em;
  color: #fff;
  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.50);
}

.logonav{
  width: 50%;
  grid-column: 4 / span 1;
  margin: 8px;
  justify-self: end;
}
.nav{
  position: fixed;
  margin: 0;
  left: -300px; 
  width: 20%;
  height: 100vh;
  background-color: #261374;
  padding: 20px 10px;
  transition: left 0.3s ease;
  z-index: 1000;
  list-style: none;
  align-items: start;
}
.nav:hover{
  left: 0;
}
/*ТЕКСТ ГОЛОВНА*/
span{
  font-family: "Tektur", sans-serif;
  font-size: 20px;
  font-weight: 550;
  color: #261374;
}
p{
  font-family: "Comic_Sans_MS", cursive;
  margin: 20px 25% ;
}
ul{
  font-family: "Comic_Sans_MS", cursive;
  margin: 20px 25% ;
}
h2{    
  font-family: Tektur, sans-serif;
  font-weight: 64;
  font-style: normal;
  color: #261374;
  font-size: 50px;
  line-height: 40px;
  margin: 15px 10%;
  padding-top: 55px;
  text-align: left;
}

h2:not(.subtitle)::after {
  display: block;
  content: "";
  width: 35%;
  height: 4px;
  background-color: #ee46a5;
  margin: 15px 0 0 0;
  border-radius: 3px;
}

/*КАРТИ ГОЛОВНА*/
.cardnav:hover {
  transition: 1s;
  transform: scale(1.05);
}
.cardnav{
  height: 320px;
  width: 250px;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 6px 8px 8px 0 rgba(38, 19, 116, 0.45);
  background: linear-gradient(180deg, rgba(149, 75, 170, 0.65) 65.38%, rgba(255, 255, 255, 0.65) 99.99%);
}
.wrapnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-image: url("фонгол.jpg");
  иackground-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.imgnav{
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 100%;
  margin: 0 20%;
}
.namenav{
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  color: black;
  padding: 0; 
  margin:  5px 0;
}
.name{
  margin:0;
}
a{
  color: #000;
  text-decoration: none;
}



.card-size {
  grid-column: span 2;
}

.info-cards {
  display: grid;
  grid-column-gap: 55px;
  padding: 0 100px;
}
 .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-card {
  margin-bottom: 20px;
}

.card-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;
  margin:0 0 0 20px  ;
}

.cart-desc {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
}
 .navbar {
   position: sticky;
   top: 0;
 }
.cardnav:hover {
  transition: 1s;
  transform: scale(1.05);
}

/*кнопка*/



/*Медіазапити*/

@media (max-width: 768px) {

  .headerhome{
      width: 100%;
      height: 350px;
      background: linear-gradient(180deg, #ee46a5 0%, #f28d6c 44.23%, #f5bb47 73.08%);
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: repeat(6, 1fr);
      position: static;
  }

  .ulnav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      list-style: none;
      padding: 0;
      margin: 0;
      font-family: "Press Start 2P", system-ui;
  }
    .nav {
      width: 100%;
      height: 50px;
      background-color: #261374;
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }

  .anav {
    display: flex;
    margin: 10px 0; /* менше відступів */
    font-size: 10px; /* зменшений текст */
  }

  .pnav {
    font-size: 32px;
    text-align: center;
    grid-column: 2 /span 3; 
    margin: 0;
    grid-column: 1 / -1;
    grid-row: 2;
    margin: 0 auto;
    padding: 20px 10px;
    color: #ffffff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .logonav {
    width: 30%;
    justify-self: center;
    grid-column: 2 /span 3;
    grid-row: 2;
  }

    .header-logo {
        height: 15px;
        padding-left: 20px;
    }

    .eniac {
        height: 15px;
    }

    p{
    font-family: "Comic_Sans_MS", cursive;
    margin: 10px 10% ;
    }

    ul:not(.ulnav){
      font-family: "Comic_Sans_MS", cursive;
      margin: 10px 15% ;

    }
